@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*, *::before, *::after{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
/*
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
*/
:root{
  --secondary: #37562F;
}
html{
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) transparent;
}


html, body{
  font-family: 'Montserrat', sans-serif;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin:auto;
  box-sizing: border-box;
}